<link rel="icon" href="/static/images/logo.png" type="image/png">
<link rel="stylesheet" href="/static/styles/fonts.css"/>
<link rel="stylesheet" href="/static/fonts/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf" data-tag="font"/>
<link rel="stylesheet" href="/static/fonts/Goldman/Goldman-Regular.ttf" data-tag="font"/>
<link rel="stylesheet" href="/static/fonts/Inter/Inter-VariableFont_opsz,wght.ttf" data-tag="font"/>
<link rel="stylesheet" href="/static/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf" data-tag="font"/>
<link rel="stylesheet" href="/static/fonts/Poppins/Poppins-Black.ttf" data-tag="font"/>
<link rel="stylesheet" href="/static/fonts/Rubik/Rubik-VariableFont_wght.ttf" data-tag="font"/>
<link rel="stylesheet" href="/static/fonts/Ubuntu/Ubuntu-Regular.ttf" data-tag="font"/>
<link rel="stylesheet" href="/static/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf" data-tag="font"/>
